<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnginEar | Proto_OS</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/output.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/EnginEar_Logo.svg')}}"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="pb-16 relative [background-image:_radial-gradient(#26558C_0%,#090A20_65%)] min-h-screen pt-16"
  >
    <header
      class="relative w-full py-4 lg:px-24 md:px-8 px-4 flex items-center justify-between"
    >
      <div class="flex sm:flex-row flex-col gap-4 sm:gap-8 items-center h-full">
        <img
          width="64"
          height="64"
          alt="Scan logo"
          src="{{url_for('static', filename='assets/timer.svg')}}"
          class="mix-blend-normal"
        />
        <h2 class="glow-text text-lg md:text-2xl lg:text-3xl uppercase">
          Bio scan
        </h2>
      </div>
      <div class="flex sm:flex-row flex-col items-center gap-4 sm:gap-8">
        <h2
          class="uppercase sm:order-1 order-2 glow-text text-lg md:text-2xl lg:text-3xl"
        >
          Threat levlel
        </h2>
        <div
          class="sm:order-2 order-1 min-w-fit flex flex-col items-center gap-4"
        >
          <img
            class="h-12"
            src="{{url_for('static', filename='assets/range.svg')}}"
            alt="Threat-o-meter"
          />
          <div
            class="bg-primary shadow-[0_0_8px_#9CEEFC] w-full h-[1px] relative flex items-center"
          >
            <div
              class="absolute left-[30%] bg-primary shadow-[0_0_8px_#9CEEFC] w-4 h-4 [clip-path:polygon(50%_0%,_0%_100%,_100%_100%)]"
              id="triangle"
            />
          </div>
        </div>
      </div>
      <div
        class="absolute top-0 left-0 bg-primary-light w-full h-full mix-blend-soft-light"
      />
    </header>
    <main class="mt-16 lg:px-24 md:px-8 px-4 w-full grid grid-cols-3 gap-x-8">
      <nav class="md:col-span-1 col-span-full col-start-1">
        <h2
          class="bg-primary-light bg-opacity-25 text-2xl glow-text w-full px-4 py-2 text-opacity-80 mb-8"
        >
          Scan data
        </h2>
        <ul class="flex flex-col w-full text-white gap-2">
          {% if title == "controls"%}
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border bg-yellow-500 bg-opacity-80 border-primary-lighter border-opacity-25"
          >
            <a href="/">Control panel</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/scans">HK-ReSe-024 type Protogen</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/status">Astro's status</a>
          </li>
          {% elif title == "scans" %}
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/">Control panel</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border bg-yellow-500 bg-opacity-80 border-primary-lighter border-opacity-25"
          >
            <a href="/scans">HK-ReSe-024 type Protogen</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/status">Astro's status</a>
          </li>
          {% else %}
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/">Control panel</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border border-primary-lighter border-opacity-25"
          >
            <a href="/scans">Control panel</a>
          </li>
          <li
            class="md:pl-8 pl-4 pr-4 py-2 rounded-sm border bg-yellow-500 bg-opacity-80 border-primary-lighter border-opacity-25"
          >
            <a href="/status">Astro's status</a>
          </li>
          {%endif%}
          <li>
            <img
              src="{{url_for('static', filename='assets/EnginEar_front.png')}}"
              alt="EnginEar front"
              class="hidden md:inline mix-blend-plus-lighter object-scale-down"
            />
          </li>
          <li>
            <img
              src="{{url_for('static', filename='assets/EnginEar_left.png')}}"
              alt="EnginEar side"
              class="hidden md:inline mix-blend-plus-lighter object-scale-down"
            />
          </li>
        </ul>
      </nav>
      <section
        class="col-span-full sm:col-span-1 col-start-1 row-start-2 md:hidden flex flex-col items-center sm:justify-between justify-end gap-8 h-full"
      >
        <img
          src="{{url_for('static', filename='assets/EnginEar_front.png')}}"
          alt="EnginEar front"
          class="mix-blend-plus-lighter object-scale-down"
        />
        <img
          src="{{url_for('static', filename='assets/EnginEar_left.png')}}"
          alt="EnginEar side"
          class="mix-blend-plus-lighter object-scale-down"
        />
      </section>
      <section
        class="sm:col-span-2 col-span-full md:row-start-1 row-start-2 md:col-start-2"
      >
        <div
          class="relative mb-8 overflow-hidden border-2 border-primary rounded"
        >
          <img
            class="object-fill z-10 scale-105"
            alt="Hunting position"
            src="{{url_for('static', filename='assets/scan_primary.png')}}"
          />
          <p class="absolute top-0 left-0 w-full h-full z-[-1]" id="binary"></p>
        </div>
        <h2
          class="bg-primary-light bg-opacity-25 text-2xl glow-text w-full px-4 py-2 text-opacity-80 mb-8"
        >
          Mechanical Components
        </h2>
        <h3
          class="md-4 px-4 py-2 md:w-2/3 bg-title bg-opacity-25 text-primary-light text-opacity-80"
        >
          Primary
        </h3>
        <dl class="text-primary-lighter flex flex-col gap-4">
          <dt>Limbs</dt>
          <dd>
            Despite their Appearance, Limbs function as extensions That enables
            the Straightforward modification. Ensuring the adaptation to the
            vast of environments
          </dd>
          <dt>Nanite</dt>
          <dd>
            Using Latest nanite technology lets the creature to Breathe, Consume
            Sustenance and digest natural nutrients. Each particle is a gnomic
            computer with exceptional computing abilities.
          </dd>
        </dl>
        <h3
          class="mt-4 mb-4 px-4 py-2 md:w-2/3 bg-title bg-opacity-25 text-primary-light text-opacity-80"
        >
          Secondary
        </h3>
        <dl class="text-primary-lighter flex flex-col gap-4">
          <dt>Fang</dt>
          <dd>
            Displaying a craved insignia Which describes functionality and
            planned fields of interests. The Lightning can be modified, yet
            unknown how.
          </dd>
          <dt>Plates</dt>
          <dd>
            Forged from a steel-like material, it provides great protection for
            its user. Plating covers the shoulders, Chest, Thigs, Knees, and the
            crouch area. Cannot be removed.
            <span class="text-orange-400">Removal May be fatal!</span>
          </dd>
        </dl>
      </section>
    </main>
  </body>
  <script>
    const binary = document.getElementById("binary");

    function generateBinary() {
      str = "";
      for (var i = 0; i < 6500; i++) {
        str = str + Math.round(Math.random());
      }
      binary.innerHTML = str;
    }

    function updateBinary() {
      str = binary.innerHTML;
      n = str.length;
      r = Math.floor(Math.random() * n + 1);
      binary.innerHTML =
        str.substring(0, r) + Math.round(Math.random()) + str.substring(r + 1);
    }

    generateBinary();
    setInterval("updateBinary()", 5);
  </script>
</html>
